:root {
}

body {
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.todos__add-button {
  background: #6366f1;
  color: white;
}

.button {
  padding: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active {
  transition: filter 0.2s;
  filter: brightness(0.9);
}

.button[data-size="sm"] {
  width: 24px;
  height: 16px;
  font-weight: 400;
}

.button[data-size="md"] {
  width: 42px;
  height: 28px;
  font-weight: 500;
}

.button[data-size="lg"] {
  width: 60px;
  height: 40px;
  font-weight: 600;
}

.button[data-icon-only="true"] {
  aspect-ratio: 1 / 1;
  height: auto;
}

.todos {
  width: 400px;
  height: 60%;
  background: #ffffff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.todo__header {
  margin: 0;
  font-size: 24px;
  color: #1e293b;
  flex-shrink: 0;
}

.todo__input-group {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  margin-top: 12px;
  height: fit-content;
}

.todo__input {
  flex: 1;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  outline: none;
  padding: 0px 12px;
  transition: border-color 0.2s;
}

.todo__input:focus {
  border-color: #6366f1;
}

.todo__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.todo__list::-webkit-scrollbar {
  display: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #e2e8f0;
  transition: all 0.2s ease;
}

.todo__content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.todo__checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #6366f1;
}

.todo__text {
  font-size: 16px;
  color: #1e293b;
}

.todo.done .todo__text {
  text-decoration: line-through;
  color: #64748b;
}

.todo__delete-button {
  background: none;
  border: none;
  color: #64748b;
  cursor: pointer;
}

.todo__delete-button:hover {
  color: #ef4444;
}
